<div class="wrapper">
    <!-- Page header -->
    <div class="page-header clear-filter">
        <div class="page-header-image rellax-header background-header" data-rellax-speed="-8">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Bienvenue sur Rog-n-miki Market</h1>
                <h2 class="title">La plateforme de promotion de la culture et de l'artisanat Burkinabè</h2>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Catégroies d'articles -->
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-primary">Toutes les catégories d'objets d'arts et culturels</h2>
                    <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img src="../../../assets/img/categories/art-bois.png" class="img-fluid card-img-top w-100 h-100" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat du bois</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite <fa-icon icon="arrow-right "></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-cuir.png'" width="100" height="100" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat du cuir</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-graphique.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat graphique</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-metal.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat du métal</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-peinture.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat de la peinture</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-textille.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat du textille</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-vannerie.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat de la vannerie</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-5">
                            <div class="card">
                                <img [src]="'../../assets/img/categories/art-poterie.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                                <div class="card-body">
                                    <h3 class="text-primary font-weight-bold">Artisanat de la poterie</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                                        olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                                    <button class="btn btn-primary text-white font-weight-bold">
                                        Lire la suite
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>

    <!-- Evenemenst culturels -->
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-primary">Evènements culturels</h2>
                    <h5 class="description">Accod Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>

                <div class="col-12">

                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>

    <!-- Section about -->
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-primary">Qui sommes-nous?</h2>
                    <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

            <!--
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">

                            <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div>

                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">

                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

    <!-- Section Equipe -->
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title text-primary">Notre équipe</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/profil-hubert.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Hubert SAWADOGO</h4>
                            <p class="category text-primary">Développeur Web et Mobile</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Contacts -->
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Voulez-vous travailler avec nous?</h2>
            <p class="description">Ecrivez-vous.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Footer -->
    <app-footer class="content-center"></app-footer>
</div>
