
<div class="page-header" filter-color="orange">
    <div class="page-header-image background-signup" style=""></div>
    <div class="container">
        <div class="col-md-6 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/logo2.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':loginFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Login..." (focus)="loginFocus=true" (blur)="loginFocus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':nomFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nom..." (focus)="nomFocus=true" (blur)="nomFocus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':prenomFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input type="text" placeholder="Prénom(s)..." class="form-control" (focus)="prenomFocus=true" (blur)="prenomFocus=false"/>
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':emailFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons ui-1_email-85"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email..." (focus)="emailFocus=true" (blur)="emailFocus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':phoneFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons tech_mobile"></i></span>
                            </div>
                            <input type="tel" class="form-control" placeholder="Téléphone..." (focus)="phoneFocus=true" (blur)="phoneFocus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':pwd1Focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons objects_key-25"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Mot de passe..." (focus)="pwd1Focus=true" (blur)="pwd1Focus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':pwd2Focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons objects_key-25"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirmation de mot de passe..." (focus)="pwd2Focus=true" (blur)="pwd2Focus=false" >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':imgFocus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons media-1_camera-compact"></i></span>
                            </div>
                            <input type="file" accept="image/*" class="form-control" placeholder="Photo de profil..." (focus)="imgFocus=true" (blur)="imgFocus=false" >
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-round btn-lg btn-block">
                                S'incrire
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
